// Font
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
// Colors
$primary-color: #2ECC71;
$secondary-color: #1e1e20;
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
  padding: 0 0 15px 0;
  font-weight: 100;
  color: $primary-color;
  border-bottom: 1px solid lighten($primary-color, 40%);
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.bar {
  background: $primary-color;
  width: 0;
  margin: 5px 0;
  color: white;
  position: relative;
  transition: width 3s ease-in-out;
  &:nth-of-type(2n) {
    background: lighten($primary-color, 10%);
  }
  .label {
    font-size: 12px;
    padding: 12px;
    background: $secondary-color;
    width: 100px;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    &.light {
      background: lighten($secondary-color, 10%);
      @media (max-width: 400px) {
        background: transparent;
      }
    }
    @media (max-width: 400px) {
      background: transparent;
    }
  }
  .percent {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 1;
  }
}